@import url("https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px");

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: large;
  background-image: url(../../Images/two-jack-lake-serenity-ozero.jpeg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 1em;
}

#heading {
  font: 1000;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}
